{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="tCor-MgBottomXs4">
        {% include "./partials/nav.html" %}
    </div>

    <h1 class="bCor-h1e6Reset cCor-TextHeader tCor-MgBottomXs4">Movie list</h1>

    {% for item in [1,2,3,4] %}
    <a href="/movies/teenage-mutant-ninja-turtles:-out-of-the-shadows-(2016)" class="bCor-AncReset">
        <div class="row tCor-MgBottomXs4">
            <div class="col-xs-12 col-sm-4">
                <img src="https://i.ytimg.com/vi/3Z1mfY5qOAQ/maxresdefault.jpg" alt="turtle cover" class="tCor-FullWidth"/>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2>Teenage Mutant Ninja Turtles: Out of the Shadows (2016)</h2>

                <p class="tCor-FontSize">
                    Description
                </p>
            </div>
        </div>
    </a>
    {% endfor %}

    load more
</div>
{% endblock %}