{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1 class="bCor-h1e6Reset cCor-TextHeader tCor-MgBottomXs3">{{movie.title}}</h1>

    <div class="row tCor-MgBottomXs4">
        <div class="col-xs-12 col-sm-4">
            <img src="{{movie.cover.url}}" alt="{{movie.cover.alt}}" class="tCor-FullWidth"/>
        </div>
        <div class="col-xs-12 col-sm-8">
            <p class="tCor-FontSize">
                {{movie.description}}
            </p>
        </div>
    </div>
</div>
{% endblock %}