.tCor-FullWidth { width: 100% !important; }

.tCor-FullView { 
    width: 100vw !important;
    height: 100vh !important;
}

.tCor-Block { display: block; }

.tCor-Pd {
    @each $value, $i in 0, 2, 5, 10, 15, 30, 45, 60 {
        @if $value != 'disable' {
            @mixin grid-spacing padding, $(value), $(i), Xs;
        }
    }
    @each $value, $i in 0, 2, 5, 10, 15, 30, 45, 60 {
        @if $value != 'disable' {
            @media (--screen-min-sm) {
                @mixin grid-spacing padding, $(value), $(i), Sm;
            }
        }
    }
    @each $value, $i in 0, 2, 5, 10, 15, 30, 45, 60 {
        @if $value != 'disable' {            
            @media (--screen-min-md) {
                @mixin grid-spacing padding, $(value), $(i), Md;
            }
        }
    }
}

.tCor-Mg {
    @each $value, $i in 0, 2, 5, 10, 15, 30, 45, 60 {
        @if $value != 'disable' {
            @mixin grid-spacing margin, $(value), $(i), Xs;
        }
    }
    @each $value, $i in 0, 2, 5, 10, 15, 30, 45, 60 {
        @if $value != 'disable' {
            @media (--screen-min-sm) {
                @mixin grid-spacing margin, $(value), $(i), Sm;
            }
        }
    }
    @each $value, $i in 0, 2, 5, 10, 15, 30, 45, 60 {
        @if $value != 'disable' {            
            @media (--screen-min-md) {
                @mixin grid-spacing margin, $(value), $(i), Md;
            }
        }
    }
}

.tCor-AlignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}