body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: blue;
}

// Table of content:
// * Setting
// * Mixin
// * Custom Mixin
// * Generic
// * Extension
// * Tools
// * Base
// * Objects
// * Components
// * Trumps

// * Module
// * --| component
// * --| component
// * --| component