/* grid v2
    how to use:

    $layout__selector-grid: 0, 2px, 5px, 'disable-10px', 15px, ... (sel:'full',val:100%); // leave not numeric selector grid at the end

    .t_selector {
       $properties: 'padding-top', 'padding-bottom';
       @include grid-factory($properties $layout__selector-grid);
    }

    output:
    .selector-[xs,sm,md]-[1,2,..]
    .selector-[xs,sm,md]-0-only // active only on one media query
*/
/*
@mixin grid-factory ($properties, $listColumnSizes) {
    $mapMediaQuery: $theme__bootstrap_media_query;
    $mapMediaQuerySelective: $theme__bootstrap_media_query_selective;


    // loop media query
    @each $media-name, $media-query-breakpoint in $mapMediaQuery {

    // bootstrap media query
    @media (min-width: $media-query-breakpoint) {

    // loop column
    @each $colSize in $listColumnSizes {
        //@debug(&,type_of($colSize),$colSize,$media-name);

        // number
        @if type_of($colSize) == number  { // check if the value is a disabled property
            $colIndex: index($listColumnSizes, $colSize) - 1;

            // output .namespace-xs-0
            &-#{$media-name}-#{$colIndex} {
            @each $propName in $properties {
                #{$propName}: $colSize !important;
            }
            }
        }

        // map
        @if type_of($colSize) == map { // special grid value
            $colName:  map-get($colSize, 'sel');
            $colValue: map-get($colSize, 'val');

            // output .namespace-xs-full
            &-#{$media-name}-#{$colName} {
            @each $propName in $properties {
                #{$propName}: $colValue !important;
            }
            }
        }

    }
    }

    }


    // loop media query
    @each $media-name, $media-query-breakpoint in $mapMediaQuerySelective {

    // selective media query
    @media #{$media-query-breakpoint} {
        &-#{$media-name}-0-only {
        @each $propName in $properties {
            #{$propName}: 0 !important;
        }
        }
    }
    }

}*/

@define-mixin grid-spacing $property, $value, $index {
    &Xs$(index)          { $(property):        $(value)px; }
    &HlXs$(index)        { $(property)-top:    $(value)px; $(property)-bottom: $(value)px; }
    &VlXs$(index)        { $(property)-right:  $(value)px; $(property)-left: $(value)px; }
    &TopXs$(index)       { $(property)-top:    $(value)px; }
    &RightXs$(index)     { $(property)-right:  $(value)px; }
    &BottomXs$(index)    { $(property)-bottom: $(value)px; }
    &LeftXs$(index)      { $(property)-left:   $(value)px; }
}