<div class="oCor-Dashboard">
    <div class="oCor-Dashboard_nav">
        nav
    </div>
    
    <div class="oCor-Dashboard_main">
        <div class="oCor-Dashboard_sidebar">
            sidebar
        </div>
        <div class="oCor-Dashboard_body">
            <h1>spa is working</h1>
            <p>some content</p>
<p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p><p>some content</p>
        </div>
    </div>
</div>