.tCor-Fs {
    @each $value, $i in 0, 10, 12, 14, 16, 18, 20, 24 {
        @if $value != 'disable' {
            &Xs$(i) {
                font-size: $(value)px;
            }
            
            @media (--screen-min-sm) {
                &Sm$(i) {
                    font-size: $(value)px;
                }
            }
            
            @media (--screen-min-md) {
                &Md$(i) {
                    font-size: $(value)px;
                }
            }
        }
    }
}

.tCor-Pd {
    @each $value, $i in 0, 2, 5, 10, 15, 30, 45, 60 {
        @if $value != 'disable' {
            @mixin grid-spacing padding, $(value), $(i);
            
            @media (--screen-min-sm) {
                @mixin grid-spacing padding, $(value), $(i);
            }
            
            @media (--screen-min-md) {
                @mixin grid-spacing padding, $(value), $(i);
            }
        }
    }
}

.tCor-Mg {
    @each $value, $i in 0, 2, 5, 10, 15, 30, 45, 60 {
        @if $value != 'disable' {
            @mixin grid-spacing margin, $(value), $(i);
            
            @media (--screen-min-sm) {
                @mixin grid-spacing margin, $(value), $(i);
            }
            
            @media (--screen-min-md) {
                @mixin grid-spacing margin, $(value), $(i);
            }
        }
    }
}