/*
    <html class="oCor-Dashboard_ScrollFreeze">

    <div class="oCor-Dashboard">
        <div class="oCor-Dashboard_layout">
            <div class="oCor-Dashboard_nav">nav</div>
            
            <div class="oCor-Dashboard_main">
                <div class="oCor-Dashboard_sidebar">sidebar</div>
                <div class="oCor-Dashboard_body">
                    <h1>body</h1>
                    <p>some content</p>
                </div>
            </div>
        </div>
    </div>
 */
.oCor-Dashboard {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &_layout {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &_nav {
        width: 100%;
        /* safari need this */
        flex-shrink: 0;
        flex-basis: auto;
        z-index: 1
    }
    
    &_main {
        display: flex;
        flex-grow: 1;
    }

    &_sidebar {
        /* safari need this */
        flex-shrink: 0;
        flex-basis: auto;
    }
    
    &_body {
        background-color: white;
        flex-grow: 1;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    /* apply on <html> */
    &_ScrollFreeze,
    &_ScrollFreeze body {
        overflow: hidden;
    }
}